<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>Age</h4>
  <h3>
    <%= @age %>
  </h3>
  <h4>Hometown</h4>
  <h3>
    <%= @hometown %>
  </h3>
</div>
